@{
    ViewBag.Title = "Cảm ơn bạn đã liên hệ";
    Layout = "~/Views/Shared/_LayoutSite.cshtml";
}
<br />
<br />
<!-- breadcrumb -->
<div class="container">
    <div class="bread-crumb flex-w p-l-25 p-r-15 p-t-30 p-lr-0-lg">
        <a href="~/" class="stext-109 cl8 hov-cl1 trans-04">
            Home Page
            <i class="fa fa-angle-right m-l-9 m-r-10" aria-hidden="true"></i>
        </a>
        <span class="stext-109 cl4">
            Liên hệ
        </span>
    </div>
</div>
<br /><br /><br /><br />
<div class="container">
    <div class="row">
        <div class="col-md-12">

            <h3>Cảm ơn bạn đã liên hệ!. Chúng tôi sẽ trả lời bạn trong thời gian sớm nhất</h3>

        </div>
    </div>
</div>
<br /><br /><br /><br />