<session class="small-about padding-top-150 padding-bottom-150">
    <div class="container">

        <!-- Main Heading -->
        <div class="heading text-center">
            <br>
            <h4>about ABC Vehicle Showroom</h4>
            <p>
                ABC Vehicle Showroom is #1 brand for driver appeal and initial quality for mass market
            </p>

            <br>
            <br>
            <p>
                <i class="fa fa-location-dot"></i> 421 Tran Hung Dao, Danang <br>
                Vietnam
            </p>
            <p><i class="fa fa-phone"></i> 123.456.789</p>
            <p><i class="fa fa-envelope"></i>contact@abcvehicleshowroom.com</p>

        </div>

        <!-- Social Icons -->
        <ul class="social_icons">
            <li><a href="#."><i class="fa fa-facebook"></i></a></li>
            <li><a href="#."><i class="fa fa-twitter"></i></i></a></li>
            <li><a href="#."><i class="fa fa-tumblr"></i></a></li>
            <li><a href="#."><i class="fa fa-youtube"></i></a></li>
            <li><a href="#."><i class="fa fa-dribbble"></i></a></li>
        </ul>
    </div>
</session>
